{% load i18n %}

{% if created %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {% blocktranslate with model_name=model object=created %}
    {{ model_name }} <strong>{{ object }}</strong> successfully created!
    {% endblocktranslate %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
{% elif modified %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {% blocktranslate with model_name=model object=modified %}
    {{ model_name }} <strong>{{ object }}</strong> successfully modified!
    {% endblocktranslate %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
{% elif deleted %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {% blocktranslate with model_name=model object=deleted %}
    {{ model_name }} <strong>{{ object }}</strong> successfully deleted!
    {% endblocktranslate %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
{% endif %}
