{% load i18n %}

<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">{% translate 'Modify' %}</th>
        <th scope="col">{% translate 'Elevation (mt)' %}</th>
        {% if plan_visibility and perms.buildings.change_plan %}
          <th scope="col">{% translate 'Visibility' %}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% if plan_visibility and perms.buildings.change_plan %}
        {% for plan, visibility in plan_visibility.items %}
        <tr>
          <td><a href="{% url 'buildings:plan_change' build_slug=build.slug plan_slug=plan.slug %}">
            {{ plan.title }}</a></td>
          <td>{{ plan.elev }}</td>
          <td><a href="{% url 'buildings:building_detail' build_slug=build.slug set_slug=planset.slug %}?visibility={{ visibility.0 }}">
            {% if visibility.1 %}
              <i class="fa fa-check-circle" style="color: limegreen;" title="{% trans 'Make invisible' %}"></i>
            {% else %}
              <i class="fa fa-times-circle" style="color: red;" title="{% trans 'Make visible' %}"></i>
            {% endif %}
          </a></td>
        </tr>
        {% endfor %}
      {% else %}
        {% for plan in plans.all %}
        <tr>
          <td><a href="{% url 'buildings:plan_change' build_slug=build.slug plan_slug=plan.slug %}">
            {{ plan.title }}</a></td>
          <td>{{ plan.elev }}</td>
        </tr>
        {% endfor %}
      {% endif %}
    <tbody>
  </table>
</div>
