{% load i18n %}

{% if created %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {% blocktranslate with link=created %}
    Building <strong>{{ link }}</strong> successfully created!
    {% endblocktranslate %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% elif modified %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {% blocktranslate with link=modified %}
    Building <strong>{{ link }}</strong> successfully modified!
    {% endblocktranslate %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% elif deleted %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {% blocktranslate with link=deleted %}
    Building <strong>{{ link }}</strong> successfully deleted!
    {% endblocktranslate %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
