{% load i18n %}

{% if stat_created %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {% blocktranslate with link=stat_created %}
    Photo station <strong>{{ link }}</strong> successfully created!
    {% endblocktranslate %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% elif stat_modified %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {% blocktranslate with link=stat_modified %}
    Photo station <strong>{{ link }}</strong> successfully modified!
    {% endblocktranslate %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% elif stat_deleted %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {% blocktranslate with link=stat_deleted %}
    Photo station <strong>{{ link }}</strong> successfully deleted!
    {% endblocktranslate %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
