{% load i18n %}

{% for set, info in annotated_list %}
  {% if info.open %}
      <ul><li>
  {% else %}
      </li><li>
  {% endif %}
    {% if set.slug != planset.slug %}
      <a href="{% url 'buildings:building_detail' build_slug=build.slug set_slug=set.slug %}"
      title="{% trans "Activate!"%}">{{ set.title }}</a>
    {% else %}
    {{ set.title }}
    {% endif %}
    {% if set.intro %}<em>- {{ set.intro }}</em>{% endif %}
      <a href="{% url 'buildings:planset_change' build_slug=build.slug set_slug=set.slug %}" title="{% trans "Modify plan set" %}">
        <i class="fa fa-pencil"></i>
      </a>
  {% for close in info.close %}
      </li></ul>
  {% endfor %}
{% endfor %}
{% if perms.buildings.change_planset and user.is_staff %}
<p class="text-right"><a class="btn btn-info" href="/admin/buildings/planset"
  title="{% trans "Modify directory (in admin)" %}"><i class="fa fa-pencil"></i>
  <i class="fa fa-list-ul"></i></a></p>
{% endif %}
