{% extends 'base.html' %}
{% load fb_versions %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate "Modify building plan" %}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% include "bimblog/includes/buildingplan_alerts.html" %}
    <h4><strong>{% translate "Modify building plan" %}</strong></h4>
    {% if perms.bimblog.change_buildingplan %}
    <div class="row">
      <div class="col col-md-8">
        {% include "bimblog/includes/hello_formula.html" %}
      </div>
      <div class="col col-md-4 text-right">
        <a class="btn btn-danger" href="{% url 'bimblog:buildingplan_delete' build_slug=object.build.slug plan_slug=object.slug %}">{% translate 'Delete' %}</a>
      </div>
    </div>
    <hr class="mb-4">
    {% include "bimblog/includes/form_errors.html" %}
    <form action="" method="post" class="needs-validation"  enctype="multipart/form-data" novalidate>
        {{ form|crispy }}
        <hr class="mb-4">
          {% include "bimblog/includes/add_buttons.html" %}
        <hr class="mb-4">
      {% csrf_token %}
    </form>
    {% else %}
    {% translate "You don't have permissions to modify building plans" %}.
    {% endif %}
  </div>
</div>
{% endblock content %}
