{% extends 'base.html' %}
{% load fb_versions %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}

{% block title %}{{ website.acro }} | {% translate "Modify building" %}{% endblock title %}

{% block extra-head %}
  {% include 'bimblog/includes/leaflet_extra_head.html' %}
{% endblock extra-head %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% include "bimblog/includes/building_alerts.html" %}
    <h4><strong>{% translate "Modify building" %}</strong></h4>
    {% if perms.bimblog.change_building %}
    <div class="row">
      <div class="col col-md-8">
        {% include "bimblog/includes/hello_formula.html" %}
      </div>
      <div class="col col-md-4 text-right">
        <a class="btn btn-danger" href="{% url 'bimblog:building_delete' object.slug %}">{% translate 'Delete' %}</a>
      </div>
    </div>
    <hr class="mb-4">
    {% include "bimblog/includes/form_errors.html" %}
    <div class="row"><div class="col">
      <a href="{{ object.fb_image.url }}">
        <img src="{% version object.fb_image 'small' %}"
          alt="{{ object.intro }}">
      </a>
    </div></div>
    <form action="" method="post" class="needs-validation"  enctype="multipart/form-data" novalidate>
        {{ form|crispy }}
        <hr class="mb-4">
        <div class="row">
          <div class="col" id="mapid" style="height: 480px;"></div>
        </div>
        <hr class="mb-4">
          {% include "bimblog/includes/add_buttons.html" %}
        <hr class="mb-4">
      {% csrf_token %}
    </form>
    {% else %}
    {% translate "You don't have permissions to modify buildings" %}.
    {% endif %}
  </div>
</div>
{% endblock content %}
{% block extra-js %}
  {{ map_data|json_script:"map_data"}}
  <script src="{% static 'bimblog/js/building_form_update.js'%}"></script>
{% endblock extra-js %}
