{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate 'Delete discipline' %}{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>{% translate 'Delete discipline:' %} </strong>{{ title }}</h4>
    <p>{% trans "Remember that disciplines are shared among buildings."%}</p>
    {% if perms.bimblog.delete_discipline %}
    {% include 'bimblog/includes/delete_buttons.html' %}
    {% else %}
    <p>{% translate "You don't have permissions to delete disciplines" %}.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
