{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate "Disciplines" %}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% include "bimblog/includes/discipline_alerts.html" %}
    <div class="row">
      <div class="col">
        <h4><strong>{% translate "List of disciplines" %}</strong></h4>
      </div>
      <div class="col text-right">
        <a class="btn btn-secondary" data-toggle="collapse" href="#discipline-list" title="{% translate "Add discipline" %}">
          + <i class="fa fa-graduation-cap"></i></a>
      </div>
    </div>
    <hr class="mb-4">
    <div class="collapse show" id="discipline-list">
      {% if annotated_lists %}
        {% for annotated_list in annotated_lists %}
          {% for disc, info in annotated_list %}
            {% if info.open %}
                <ul><li>
            {% else %}
                </li><li>
            {% endif %}
                <a href="{% url 'bimblog:discipline_change' slug=build.slug pk=disc.id %}">{{ disc.title }}</a>
                {% if disc.intro %}<em>- {{ disc.intro }}</em>{% endif %}
            {% for close in info.close %}
                </li></ul>
            {% endfor %}
          {% endfor %}
        {% endfor %}
        {% if perms.bimblog.change_disciplinenode and user.is_staff %}
        <p class="text-right"><a class="btn btn-primary" href="/admin/bimblog/disciplinenode"
          title="{% trans "Modify directory (in admin)" %}"><i class="fa fa-pencil"></i>
          <i class="fa fa-list-ul"></i></a></p>
        {% endif %}
      {% else %}
      {% translate "There are no disciplines, please add one" %}.
      {% endif %}
      <hr class="mb-4">
    </div>
    <div class="row">
      <div class="col">
        <h4><strong>{% translate "Add discipline" %}</strong></h4>
        {% if perms.bimblog.add_disciplinenode %}
        {% include "bimblog/includes/hello_formula.html" %}
        <hr class="mb-4">
        {% include "bimblog/includes/form_errors.html" %}
        <form action="" method="post" class="needs-validation" novalidate>
            {{ form|crispy }}
            <hr class="mb-4">
              {% include "bimblog/includes/add_buttons.html" %}
            <hr class="mb-4">
          {% csrf_token %}
        </form>
        {% else %}
        {% translate "You don't have permissions to add disciplines" %}.
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
