{% load i18n %}

<div class="col" v-show="isBuildAdd">
  <div class="card" style="margin-bottom: 15px">
    <div class="card-header">
      <h4 class="card-title"><strong>{% translate "Add building" %}</strong></h4>
    </div>
    <div class="card-body">
      <p v-if="formErrors" class="alert alert-danger" role="alert">
        {% translate 'Fix the errors below, please' %}.
      </p>
      <form action="" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="id_image">{% translate "Image" %}*</label>
            <input type="file" id="id_image" ref="image" accept="image/*" class="form-control-file" @change="handleImageUpload()" required>
        </div>
        <div class="form-group">
            <label>{% translate "Building title" %}</label>
            <input type="text" class="form-control" v-model="title">
        </div>
        <div class="form-group">
            <label>{% translate "Description" %}</label>
            <input type="text" class="form-control" v-model="intro">
        </div>
        <div class="form-group">
            <label>{% translate "Building latitude" %}*</label>
            <input id="id_b_lat" type="number" class="form-control" v-model="lat" required>
        </div>
        <div class="form-group">
            <label>{% translate "Building longitude" %}*</label>
            <input id="id_b_long" type="number" class="form-control" v-model="long" required>
        </div>
        <div class="form-group">
            <label>{% translate "Zoom factor" %}*</label>
            <input id="id_b_zoom" type="number" class="form-control" v-model="zoom" required>
        </div>
        <a class="btn btn-success" href="#" @click="onBuildAdd" title="{% translate "Submit" %}">
          <i class="fa fa-check"></i></a>
        <a class="btn btn-secondary" href="#" @click="onBuildDismiss" title="{% translate "Cancel" %}">
          <i class="fa fa-times"></i></a>
      </form>
    </div>
  </div>
</div>
