{% load i18n %}

<div class="col" v-show="isBuildList">
  <div class="card" style="margin-bottom: 15px">
    <div class="card-header">
      <h4 class="card-title"><strong>{% translate "Map of all buildings" %}</strong></h4>
    </div>
    <div class="card-body">
      <p v-if="isAlertPanel" class="alert alert-success" role="alert">
        <strong><i :class="alertType"></i> [[ alert ]]</strong> {% translate 'created successfully!' %}
      </p>
    {% if perms.buildings.add_building %}
      <a class="btn btn-secondary" href="#" @click="onBuildPanel" title="{% translate "Add building" %}">
        + <i class="fa fa-building"></i></a>
    {% endif %}
    {% if perms.buildings.add_city %}
      <a class="btn btn-warning" href="#" @click="onCityPanel" title="{% translate "Manage cities" %}">
        <i class="fa fa-pencil"></i> <i class="fa fa-globe"></i></a>
    {% endif %}
    </div>
  </div>
</div>
