{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load fb_versions %}
{% load i18n %}
{% load static %}

{% block title %}{{ website.acro }} | {% translate "Buildings" %}{% endblock title %}

{% block extra-head %}
  {% include 'buildings/includes/leaflet_extra_head.html' %}
  <link rel="stylesheet/less" type="text/css" href="{% static 'buildings/less/leaflet-marker-icon.less'%}" />
  <script src="{% static 'buildings/js/less.min.js'%}" type="text/javascript"></script>
  <style media="screen">
    .container { max-width: none; }
  </style>
{% endblock extra-head %}

{% block content %}
<div class="row" id="main-container">
  <div class="col">
    {% include "buildings/includes/building_alerts.html" %}
    <div class="card" style="margin-bottom: 15px">
      <div class="card-header">
        <h4 class="card-title"><strong>{% translate "Map of all buildings" %}</strong></h4>
      </div>
      <div class="card-body">
      {% if perms.buildings.add_building %}
        <a class="btn btn-secondary" href="{% url 'buildings:building_create'%}" title="{% translate "Add building" %}">
          + <i class="fa fa-building"></i></a>
      {% endif %}
      {% if perms.buildings.add_city and user.is_staff %}
        <a class="btn btn-warning" href="/admin/buildings/city/" title="{% translate "Manage cities (in admin)" %}">
          <i class="fa fa-pencil"></i> <i class="fa fa-globe"></i></a>
      {% endif %}
      </div>
    </div>
  </div>
  <div class="col col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div id="mapid" style="min-height: 600px; margin-bottom: 15px"></div>
  </div>
</div>
{% endblock content %}
{% block extra-js %}
  {{ map_data|json_script:""}}
  <script src="{% static 'buildings/js/buildings_new.js'%}"></script>
{% endblock extra-js %}
