{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load fb_versions %}
{% load i18n %}
{% load static %}

{% block title %}{{ website.acro }} | {% translate "Buildings" %}{% endblock title %}

{% block extra-head %}
  {% include 'buildings/includes/leaflet_extra_head.html' %}
  {% include 'buildings/includes/vue_extra_head.html' %}
  <style media="screen">
    .container { max-width: none; }
  </style>
{% endblock extra-head %}

{% block content %}
<div class="row" id="vue-app">
    {% include "buildings/vue/list_buildings.html" %}
  {% if perms.buildings.add_city %}
    {% include "buildings/vue/add_city.html" %}
  {% endif %}
  {% if perms.buildings.add_building %}
    {% include "buildings/vue/add_building.html" %}
  {% endif %}
  <div class="col col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div id="mapid" style="min-height: 600px; margin-bottom: 15px"></div>
  </div>
</div>
{% endblock content %}
{% block extra-js %}
  {{ map_data|json_script:"map_data"}}
  <script src="{% static 'buildings/js/buildings_list.js'%}"></script>
{% endblock extra-js %}
