{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate 'Delete building' %}{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>{% translate 'Delete building:' %} {{ title }}</strong></h4>
    {% if perms.buildings.delete_building %}
    <p>{% translate "Building visitors will not be deleted. You must do that manually" %}.</p>
    {% include 'buildings/includes/delete_buttons.html' %}
    {% else %}
    <p>{% translate "You don't have permissions to delete buildings" %}.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
