{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load fb_versions %}
{% load i18n %}
{% load static %}

{% block title %}{{ website.acro }} | {% translate "Buildings" %}{% endblock title %}

{% block extra-head %}
  {% include 'buildings/includes/leaflet_extra_head.html' %}
  {% include 'buildings/includes/vue_extra_head.html' %}
  <style media="screen">
    .container { max-width: none; }
  </style>
{% endblock extra-head %}

{% block content %}
<div class="row" id="vue-app">
  <div class="col" v-show="isBuildList">
    <div class="card" style="margin-bottom: 15px">
      <div class="card-header">
        <h4 class="card-title"><strong>{% translate "Map of all buildings" %}</strong></h4>
      </div>
      <div class="card-body">
      {% include "buildings/includes/building_alerts.html" %}
      {% if perms.buildings.add_building %}
        <a class="btn btn-secondary" href="#" @click="onBuildPanel" title="{% translate "Add building" %}">
          + <i class="fa fa-building"></i></a>
      {% endif %}
      {% if perms.buildings.add_city %}
        <a class="btn btn-warning" href="#" @click="onCityPanel" title="{% translate "Manage cities" %}">
          <i class="fa fa-pencil"></i> <i class="fa fa-globe"></i></a>
      {% endif %}
      </div>
    </div>
  </div>
  {% if perms.buildings.add_city %}
  <div class="col" v-show="isCityChange">
    <div class="card" style="margin-bottom: 15px">
      <div class="card-header">
        <h4 class="card-title"><strong>{% translate "Change city" %}</strong></h4>
      </div>
      <div class="card-body">
        <div class="form-group">
            <label>{% translate "City name" %}</label>
            <input type="text" class="textinput textInput form-control" v-model="city_name" required>
        </div>
        <div class="form-group">
            <label>{% translate "City latitude" %}</label>
            <input type="number" class="numberinput form-control" v-model="city_lat" required>
        </div>
        <div class="form-group">
            <label>{% translate "City longitude" %}</label>
            <input type="number" class="numberinput form-control" v-model="city_long" required>
        </div>
        <div class="form-group">
            <label>{% translate "Zoom factor" %}</label>
            <input type="number" class="numberinput form-control" v-model="city_zoom" required>
        </div>
      <a class="btn btn-success" href="#" @click="onCityAdd" title="{% translate "Submit" %}">
        <i class="fa fa-check"></i></a>
      <a class="btn btn-secondary" href="#" @click="onCityDismiss" title="{% translate "Cancel" %}">
        <i class="fa fa-times"></i></a>
      </div>
    </div>
  </div>
  {% endif %}
  {% if perms.buildings.add_building %}
  <div class="col" v-show="isBuildAdd">
    <div class="card" style="margin-bottom: 15px">
      <div class="card-header">
        <h4 class="card-title"><strong>{% translate "Add building" %}</strong></h4>
      </div>
      <div class="card-body">
        <form action="" method="post" class="needs-validation"  enctype="multipart/form-data" novalidate>
          <div class="form-group">
              <label>{% translate "Image" %}</label>
              <input type="file" accept="image/*" class="clearablefileinput form-control-file" v-model="build_image" required>
          </div>
          <div class="form-group">
              <label>{% translate "Building title" %}</label>
              <input type="text" class="textinput textInput form-control" v-model="build_title" required>
          </div>
          <div class="form-group">
              <label>{% translate "Description" %}</label>
              <input type="text" class="textinput textInput form-control" v-model="build_intro" required>
          </div>
          <div class="form-group">
              <label>{% translate "Building latitude" %}</label>
              <input type="number" class="numberinput form-control" v-model="build_lat" required>
          </div>
          <div class="form-group">
              <label>{% translate "Building longitude" %}</label>
              <input type="number" class="numberinput form-control" v-model="build_long" required>
          </div>
          <div class="form-group">
              <label>{% translate "Zoom factor" %}</label>
              <input type="number" class="numberinput form-control" v-model="build_zoom" required>
          </div>
        </form>
      <a class="btn btn-success" href="#" @click="onBuildAdd" title="{% translate "Submit" %}">
        <i class="fa fa-check"></i></a>
      <a class="btn btn-secondary" href="#" @click="onBuildDismiss" title="{% translate "Cancel" %}">
        <i class="fa fa-times"></i></a>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="col col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div id="mapid" style="min-height: 600px; margin-bottom: 15px"></div>
  </div>
</div>
{% endblock content %}
{% block extra-js %}
  {{ map_data|json_script:"map_data"}}
  <script src="{% static 'buildings/js/buildings_new.js'%}"></script>
{% endblock extra-js %}
