{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap5 %}

{% block title %}{{ build.title }} | {% trans 'Login' %}{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>{% trans 'Login to visit building: ' %}{{ build.title }}</strong></h4>

    {% if user.is_authenticated %}
      <p class="alert alert-warning" role="alert">
      {% trans 'You are logged in as:' %} <strong>{{ user.get_full_name }}</strong>.
      <a href="{% url 'front_logout' %}">{% trans 'You must logout to watch this building!' %}</a>
      </p>
      <hr class="mb-4">
    {% else %}
      {% if form.errors and not form.non_field_errors %}
        <p class="alert alert-danger" role="alert">
        {% if form.errors.items|length == 1 %}{% trans 'Fix the error below' %}
        {% else %}{% trans 'Fix the errors below' %}{% endif %}
        </p>
      {% endif %}

      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
      {% endif %}
        <form action="" method="post" novalidate>
                  <div class="row">
                    <div class="col">
                      {{ bootstrap_from form.password }}
                    </div>
                  </div>
                  <hr class="mb-4">
                  <button class="btn btn-success btn-lg btn-block" type="submit">{% trans 'Submit' %}</button>
                  <small>{% trans 'Fields with asterisk (*) are required' %}</small><br>
                  <hr class="mb-4">
          {% csrf_token %}
        </form>
    {% endif %}
  </div>
</div>
{% endblock content %}
