{% extends 'base.html' %}
{% load static %}
{% load fb_versions %}
{% load i18n %}

{% block title %}{{ website.acro }} | {{ build.title }}{% endblock title %}

{% block extra-head %}
  {% include 'buildings/includes/leaflet_extra_head.html' %}
{% endblock extra-head %}

{% block content %}
{% include "buildings/includes/building_alerts.html" %}
<div class="row" id="main-container">
  <div class="col col-xl-11 col-lg-11 col-md-12 col-sm-12 col-12">
    <div class="card" id="map-card" style="margin-bottom: 20px;">
      <div class="card-header">
        <h4 class="card-title">{% trans "Building"%}: <strong>{{ build.title }}</strong></h4>
        <p><em>{{ build.intro }}</em></p>
      </div>
      <div class="card-body">
        <div id="mapid" style="height: 600px;"></div>
      </div>
    </div>
  </div>
  <div class="col">
    {% include "buildings/includes/edit_buttons.html" %}
  </div>
</div>
<div class="card-deck">
  <div class="card" style="margin-bottom: 20px; min-width: 24rem;">
    <div class="card-header">
      <h5 class="card-title">{% trans "Active Plan set: "%}<strong>{{ planset.title }}</strong></h5>
    </div>
    <div class="card-body">
      {% include 'buildings/includes/planset_annotated_list.html' %}
    </div>
  </div>
  <div class="card" style="margin-bottom: 20px; min-width: 24rem;">
    <div class="card-header">
      <h5 class="card-title">{% trans "Plans"%}</h5>
    </div>
    <div class="card-body">
      {% if plans %}
        {% include 'buildings/includes/building_detail_plans.html' %}
      {% else %}
        {% trans "No plans in active set"%}
      {% endif %}
    </div>
  </div>
  <div class="card" style="margin-bottom: 20px; min-width: 24rem;">
    <div class="card-header">
      <h5 class="card-title">{% trans "Element family list"%}</h5>
    </div>
    <div class="card-body">
      {% include "buildings/includes/family_annotated_list.html" %}
    </div>
  </div>
  <div class="card" style="margin-bottom: 20px; min-width: 24rem;">
    <div class="card-header">
      <h5 class="card-title">{% trans "Images by date"%}</h5>
    </div>
    <div class="card-body">
      {% if dates %}
      <ul>
        {% for date in dates %}
        <li><a href="{% url 'buildings:image_day' slug=build.slug year=date.year month=date.month day=date.day %}">{{ date|date:"Y M d" }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
        {% trans "No images available"%}
      {% endif %}
    </div>
  </div>
  <div class="card" style="margin-bottom: 20px; min-width: 24rem;">
    <div class="card-header">
      <h5 class="card-title">{% trans "Building Log entries"%}</h5>
    </div>
    <div class="card-body">
      {% if journals %}
      <ul>
        {% for journal in journals %}
        <li>{{ journal.date|date:"Y M d" }} - {{ journal.intro }}</li>
        {% endfor %}
      </ul>
      {% else %}
        {% trans "No Building Log entries available"%}
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
{% block extra-js %}
  {{ map_data|json_script:"map_data"}}
  <script src="{% static 'buildings/js/buildings.js'%}"></script>
{% endblock extra-js %}
