{% extends 'base.html' %}
{% load fb_versions %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block title %}{{ website.acro }} | {% translate "Add element" %}{% endblock title %}

{% block extra-head %}
  {% include 'buildings/includes/leaflet_extra_head.html' %}
{% endblock extra-head %}

{% block content %}
{% include "buildings/includes/building_alerts.html" %}
<div class="row" id="main-container">
  <div class="col col-xl-11 col-lg-11 col-md-12 col-sm-12 col-12">
    <div class="card" id="map-card" style="margin-bottom: 20px;">
      <div class="card-header">
        <h4 class="card-title"><strong>{% translate "Add element" %}</strong></h4>
      </div>
      <div class="card-body">
        <div id="mapid" style="height: 600px;"></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card-group">
      {% if perms.buildings.add_element %}
      <div class="card" style="min-width: 3rem; margin-bottom: 10px;">
        <a class="btn btn-success" href="#element-add" title="{% translate "Add" %}">
          <i class="fa fa-plus"></i></a>
      </div>
      {% endif %}
      <div class="card" style="min-width: 3rem; margin-bottom: 10px;">
        <a class="btn btn-secondary" href="{% url 'buildings:building_slug' slug=build.slug %}" title="{% translate "Back to building" %}">
          <i class="fa fa-angle-double-left"></i> <i class="fa fa-building"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row" id="element-add" style="height: 65px;">
</div>
<div class="row" id="element-add-form">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card" style="margin-bottom: 20px;">
      <div class="card-header">
        <p>{% translate "Click on the map above to set location." %}</p>
      </div>
      <div class="card-body">
        {% if perms.buildings.add_element %}
        <form action="" method="post" class="needs-validation"  enctype="multipart/form-data" novalidate>
          <div class="row" style="margin-bottom: 20px;">
            {% include "buildings/includes/add_buttons_icons.html" %}
          </div>
          {% include "buildings/includes/form_errors.html" %}
          {{ form|crispy }}
          <hr class="mb-4">
          {% include "buildings/includes/add_buttons.html" %}
          {% csrf_token %}
        </form>
        {% else %}
        {% translate "You don't have permissions to add elements" %}.
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block extra-js %}
  {{ map_data|json_script:"map_data"}}
  <script src="{% static 'buildings/js/buildings.js'%}"></script>
{% endblock extra-js %}
