{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate "Create element family" %}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% include "buildings/includes/family_alerts.html" %}
    <div class="row">
      <div class="col text-right">
        <a class="btn btn-secondary" data-toggle="collapse" href="#family-list" title="{% translate "Add element family" %}">
          + <i class="fa fa-folder-open"></i></a>
      </div>
    </div>
    <div class="row" id="family-list">
      <div class="card" style="margin-top: 20px; margin-bottom: 20px; width: 100%;">
        <div class="card-header">
          <h5 class="card-title">{% trans "Element family list"%}</h5>
        </div>
        <div class="card-body">
          {% include "buildings/includes/family_annotated_list.html" %}
        </div>
      </div>
    </div>
    <div class="row" id="add-family">
      <div class="col">
        <h4><strong>{% translate "Add element family" %}</strong></h4>
        {% if perms.buildings.add_family %}
        {% include "buildings/includes/hello_formula.html" %}
        <hr class="mb-4">
        {% include "buildings/includes/form_errors.html" %}
        <form action="" method="post" class="needs-validation" novalidate>
            {{ form|crispy }}
            <hr class="mb-4">
              {% include "buildings/includes/add_buttons.html" %}
            <hr class="mb-4">
          {% csrf_token %}
        </form>
        {% else %}
        {% translate "You don't have permissions to add element families" %}.
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
