{% extends 'base.html' %}
{% load bootstrap5 %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate "Create element family" %}{% endblock title %}

{% block content %}
<div class="row" id="main-container">
  <div class="col col-xl-11 col-lg-11 col-md-12 col-sm-12 col-12">
    <div class="card" id="map-card" style="margin-bottom: 20px;">
      <div class="card-header">
        <h5 class="card-title">{% trans "Element family list"%}</h5>
      </div>
      <div class="card-body">
        {% include "buildings/includes/family_annotated_list.html" %}
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card-group">
      {% if perms.buildings.add_family %}
      <div class="card" style="min-width: 3rem; margin-bottom: 10px;">
        <a class="btn btn-success" href="#family-add" title="{% translate "Add" %}">
          <i class="fa fa-plus"></i></a>
      </div>
      {% endif %}
      <div class="card" style="min-width: 3rem; margin-bottom: 10px;">
        <a class="btn btn-secondary" href="{% url 'buildings:building_slug' slug=build.slug %}" title="{% translate "Back to building" %}">
          <i class="fa fa-angle-double-left"></i> <i class="fa fa-building"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row" id="family-add" style="height: 65px;">
</div>
<div class="row" id="element-add-form">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card" style="margin-bottom: 20px;">
      <div class="card-header">
        <h5 class="card-title">{% trans "Add element family"%}</h5>
      </div>
      <div class="card-body">
        {% if perms.buildings.add_family %}
        <form action="" method="post" class="needs-validation" novalidate>
          <div class="row" style="margin-bottom: 20px;">
            {% include "buildings/includes/add_buttons_icons.html" %}
          </div>
          {% include "buildings/includes/form_errors.html" %}
          {{ bootstrap_form form }}
          <hr class="mb-4">
          {% include "buildings/includes/add_buttons.html" %}
          {% csrf_token %}
        </form>
        {% else %}
        {% translate "You don't have permissions to add element families" %}.
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
