{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ website.acro }} | {{ jour.title }}{% endblock title %}

{% block content %}
<div class="row" id="main-container">
  <div class="col col-xl-11 col-lg-11 col-md-12 col-sm-12 col-12">
    <div class="card" id="slide-card" style="margin-bottom: 20px;">
      <div class="card-header">
        <h4 class="card-title"><strong>{{ jour.date|date:"Y M d" }}: {{ jour.title }}</strong></h4>
        <p><em>{{ jour.intro }}</em></p>
      </div>
      <div class="card-body">
        {% if images %}
          {% include 'buildings/includes/station_gallery.html' %}
        {% else %}
          <p>{% translate "There are no images available for this journal entry" %}.</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card-group">
      {% if user.is_staff %}
      <div class="card" style="min-width: 3rem; margin-bottom: 10px;">
        <a class="btn btn-warning" href="/admin/buildings/journal/{{ object.id }}/change/" title="{% translate "Modify" %}">
          <i class="fa fa-pencil"></i></a>
      </div>
      {% endif %}
      <div class="card" style="min-width: 3rem; margin-bottom: 10px;">
        <a class="btn btn-secondary" href="{% url 'buildings:building_slug' slug=jour.build.slug %}" title="{% translate "Back to building" %}">
          <i class="fa fa-angle-double-left"></i> <i class="fa fa-building"></i></a>
      </div>
      {% if prev %}
      <div class="card" style="min-width: 3rem; margin-bottom: 10px;">
        <a class="btn btn-secondary" href="{{ prev }}" title="{% translate "Previous" %}">
          <i class="fa fa-angle-double-left"></i></a>
      </div>
      {% endif %}
      {% if next %}
      <div class="card" style="min-width: 3rem; margin-bottom: 10px;">
        <a class="btn btn-secondary" href="{{ next }}" title="{% translate "Next" %}">
          <i class="fa fa-angle-double-right"></i></a>
      </div>
      {% endif %}
      <div class="card" style="min-width: 3rem; margin-bottom: 10px;">
        <a class="btn btn-danger" href="{{ request.path }}?PDF=True" title="{% translate "PDF friendly layout" %}">
          <i class="fa fa-file-pdf-o"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row" id="journal-body">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card" style="margin-bottom: 20px;">
      <div class="card-body">
        {{ jour.body|safe }}
        {% if jour.author %}
          <p class="text-right">{% trans "Signed" %}: {{ jour.author.get_full_name }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
