{% extends 'base-large.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ website.acro }} | {{ stat.title }}{% endblock title %}

{% block extra-head %}
<link type="text/css" rel="stylesheet" href="{% static 'buildings/css/pointer-block.css'%}">
{% endblock extra-head %}

{% block content %}
<div id="blocker">
		<div id="instructions">
			<span style="font-size:36px">{% trans "Click to navigate" %}</span>
			<br /><br />
			{% trans "Move: WASD" %}<br/>
			{% trans "Jump: SPACE" %}<br/>
			{% trans "Look: MOUSE" %}<br/>
			{% trans "Exit: ESC" %}<br/>
			<a href="{% url 'buildings:station_detail' build_slug=stat.build.slug stat_slug=stat.slug %}">{% trans "Back to Photo station" %}</a>
		</div>
</div>
{% endblock content %}
{% block extra-js %}
	{{ map_data|json_script:"map_data"}}
  <script type="module" src="{% static 'buildings/js/photostation_3d.js'%}"></script>
{% endblock extra-js %}
