{% extends 'base_menu.html' %}
{% load static %}
{% load fb_versions %}
{% load i18n %}

{% block title %}{{ website.acro }} | {{ build.title }}{% endblock title %}

{% block extra-head %}
  {% include 'buildings/includes/leaflet_extra_head.html' %}
{% endblock extra-head %}

{% block content %}
{% include "buildings/includes/building_alerts.html" %}
<div class="row" id="main-container">
  <div class="col col-xl-11 col-lg-11 col-md-12 col-sm-12 col-12">
    <div class="card" id="map-card" style="margin-bottom: 20px;">
      <div class="card-header">
        <h4><strong>{% translate "Building" %}: {{ build.title }},
        {% translate "plan" %}: {{ plan.title }}
        </strong></h4>
        <p><em>{% translate "Elevation (m)" %}: {{ plan.elev }}</em></p>
      </div>
      <div class="card-body">
        <div id="mapid" style="height: 600px;"></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card-group">
      {% if perms.buildings.change_plan %}
      <div class="card" style="min-width: 3rem; margin-bottom: 10px;">
        <a class="btn btn-primary" href="{% url 'buildings:plan_change' build_slug=build.slug plan_slug=plan.slug%}" title="{% translate "Modify building plan" %}">
          <i class="fa fa-pencil"></i> <i class="fa fa-map-o"></i></a>
      </div>
      {% endif %}
      <div class="card" style="min-width: 3rem; margin-bottom: 10px;">
        <a class="btn btn-secondary" href="{% url 'buildings:building_slug' slug=build.slug %}" title="{% translate "Back to building" %}">
          <i class="fa fa-angle-double-left"></i> <i class="fa fa-building"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card" style="margin-bottom: 20px; min-width: 24rem;">
    <div class="card-header">
      <h5 class="card-title">{% trans "Plan sets"%}</h5>
    </div>
    <div class="card-body">
      {% include 'buildings/includes/planset_annotated_list.html' %}
    </div>
  </div>
  <div class="card" style="margin-bottom: 20px; min-width: 24rem;">
    <div class="card-header">
      <h5 class="card-title">{% trans "Plans"%}</h5>
    </div>
    <div class="card-body">
      {% if plans %}
        {% include 'buildings/includes/building_detail_plans.html' %}
      {% endif %}
    </div>
  </div>
  <div class="card" style="margin-bottom: 20px; min-width: 24rem;">
    <div class="card-header">
      <h5 class="card-title">{% trans "Images by date"%}</h5>
    </div>
    <div class="card-body">
      {% if dates %}
      <ul>
        {% for date in dates %}
        <li><a href="{% url 'buildings:image_day' slug=build.slug year=date.year month=date.month day=date.day %}">{{ date|date:"Y M d" }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
        {% trans "No images available"%}
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
{% block extra-js %}
  {{ map_data|json_script:"map_data"}}
  <script src="{% static 'buildings/js/buildings.js'%}"></script>
{% endblock extra-js %}
