{% extends 'base_menu.html' %}
{% load bootstrap5 %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate "Create Plan set" %}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% include "buildings/includes/building_alerts.html" %}
    <div class="card" style="margin-bottom: 20px;">
      <div class="card-header">
        <h4><strong>{% translate "Add plan set" %}</strong></h4>
      </div>
      <div class="card-body">
        {% if perms.buildings.add_planset %}
        <form action="" method="post" class="needs-validation" novalidate>
          <div class="row" style="margin-bottom: 20px;">
            {% include "buildings/includes/add_buttons_icons.html" %}
          </div>
          {% include "buildings/includes/form_errors.html" %}
            {{ bootstrap_form form }}
            <hr class="mb-4">
              {% include "buildings/includes/add_buttons.html" %}
          {% csrf_token %}
        </form>
        {% else %}
        {% translate "You don't have permissions to add plan sets" %}.
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
